@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html, body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background: #3B9DC2;
  margin: 0;
  padding: 0; }

button {
  background-color: #40404d;
  border-radius: 42px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  padding: 12px 41px;
  text-decoration: none; }

button:hover {
  background-color: #3e5b94; }

button:active {
  position: relative;
  top: 1px; }

header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0A0d24; }
  @media (max-width: 640px) {
    header {
      flex-direction: column; } }

.content-information input {
  padding: 10px;
  font-size: 0.9em; }

.content-information button {
  padding: 10px;
  font-size: 0.9em;
  margin: 10px; }

.content-information .botoes {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 640px) {
    .content-information .botoes {
      justify-content: center; } }

@media (max-width: 640px) {
  .content-information {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; } }

header img {
  width: 300px;
  height: 100px; }

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #3B9DC2; }

.card {
  width: auto;
  height: auto;
  padding: 15px;
  font-size: 1em;
  margin: 30px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5%;
  background: #3c3e44;
  color: #fff;
  box-shadow: 1px 8px 11px 0px rgba(0, 0, 0, 0.71); }

.card h1 {
  font-size: 1em;
  text-decoration: underline; }
  .card h1 a {
    color: #fff; }

.card img {
  width: 50%;
  height: 100%;
  border-radius: 15%;
  box-shadow: 1px 8px 11px 0px rgba(0, 0, 0, 0.71); }

.card .informacoes {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em; }

footer {
  color: #fff;
  font-size: 2em;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A0d24;
  margin-top: 25px; }

.status {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  margin-right: 10px; }

.dead {
  background-color: red; }

.alive {
  background-color: green; }

.divStatus {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.card-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background-color: #0A0d24; }
  .card-buttons button {
    margin: 15px;
    padding: 20px; }
